html{
    font-family: "Raleway", sans-serif;
    background: #F5FBE6;
    margin: 0;
}

#Hello{
    color: #215E61;
}

.click-button{
    display: flex;
    font-family: "Cabin", sans-serif;
    color: #233D4D;
    background-color: #F5FBE6;
    padding: 20px
}



.titleflex{
    display: flex;
    flex-direction: column;
    background-color: #FE7F2D;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20%;
    transform: translateY(200px);
    position:relative;
    z-index: 3;
    
}



.flexbox-grid{
    display: flex;
    gap: 0px; 
    height: 50vh;
    column-gap: 0px;
}



.introimage{
    width:100%;
    position:relative;
    z-index:0
}

#paintingphoto{
    height:80%;
    position:relative;
    z-index: 2
}

#rawmeat{
    width:100%;
    position:relative;
    z-index: 4
    
}

#sciencetest{
    width:110%;
    position:relative;
    z-index: 5
}

#totebag{
    height:50%;
    position:relative;
    z-index: 6
}

