html{
    font-family: "Raleway", sans-serif;
    background: #F5FBE6;
    margin: 0;
}

#titletext{
    color: #215E61;
}

.click-button{
    display: flex;
    font-family: "Cabin", sans-serif;
    color: #233D4D;
    background-color: #F5FBE6;
    padding: 20px
}

.click-button:hover{
    background-color: #233D4D;
    color:#F5FBE6;
    transform: scale(1.5);
    transform: rotate(15deg);
}

.titleflex{
    position: absolute;
    background-color: #FE7F2D;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


.introquadrant{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}

.quadrant{
    width: 50%;
    height: 50%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .titleflex{
        padding: 20px;
        width: 90%
    }

    #titletext{
        font-size: 1.5rem;
    }

    .click-button{
        padding: 15px;
    }
}


#page2start{
    justify-content: center;
    align-items: flex-start;
}

#gallerytitle{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    color: #FE7F2D;
}

.gallerysection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #233D4D;
}


.carousel{
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar{
    display: none
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}


.gallery2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 30s infinite linear;
    padding-right: 1em;
}

.gallery-item img{
    flex: 0 0 5em;
    width: 10em;
    height: 10em;
    padding: 1em;
    border-radius: 4em;
    align-items: center;
}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}



