html{
    font-family: "Raleway", sans-serif;
    background: #F5FBE6;
    margin: 0;
}

#titletext{
    color: #215E61;
    animation: rubberBand;
    animation-duration: 1s;
}


.click-button{
    display: flex;
    font-family: "Cabin", sans-serif;
    color: #233D4D;
    background-color: #F5FBE6;
    padding: 20px;
    border-radius: 5px;
    transition: all 1 ease;
    animation: heartBeat;
    animation-duration: 1s;
}

.click-button:hover{
    background-color: #233D4D;
    color:#F5FBE6;
    transform: scale(1.1) rotate(15deg);
}

.titleflex{
    position: absolute;
    background-color: #FE7F2D;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


.introquadrant{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.quadrant{
    width: 50%;
    height: 50%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .titleflex{
        padding: 20px;
        width: 90%
    }

    #titletext{
        font-size: 1.5rem;
    }

    .click-button{
        padding: 15px;
    }
}


#page2start{
    justify-content: center;
    align-items: flex-start;
}

#gallerytitle{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    color: #FE7F2D;
}

.gallerysection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #233D4D;
}


.carousel{
    margin: 30px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow: hidden
}

.carousel::-webkit-scrollbar{
    display: none
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: move-left 20s infinite linear;
    padding-right: 1em;
}


.gallery2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: move-right 60s infinite linear;
    padding-left: 1em;
}

.gallery3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: move-left 7s infinite linear;
    padding-right: 1em;
}

.gallery4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: move-right 40s infinite linear;
    padding-left: 1em;
}

.gallery-item img{
    flex: 0 0 5em;
    width: 8em;
    height: 8em;
    padding: 1em;
    border-radius: 2em;
    align-items: center;
}


@keyframes move-left{
    from {translate: 0%;}
    to {translate: -100%;}
}

@keyframes move-right{
    from {translate: -100%;}
    to {translate: 0%;}
}

